:root {
  --ecovative: #00685f;
}

body {
  background-color: #D4F7F4;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* links.css - v0.0.1 - "Smarter defaults for links" License MIT
*/
a {
  -webkit-transition: color .4s;
  transition: color .4s;
  color: #265C83;
}

a:link, a:visited {
  color: #265C83;
}

a:hover {
  color: #7FDBFF;
}

a:active {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #007BE6;
}

.hero {
  background-image: url("../images/hero-small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  text-shadow: 1px 2px var(--ecovative) 69;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: color(var(--ecovative) alpha(-50%));
}

@media screen and (min-width: 48em) {
  .hero {
    background-image: url("../images/hero-medium.jpg");
  }
}

@media screen and (min-width: 64em) {
  .hero {
    background-image: url("../images/hero-large.jpg");
  }
}

.carousel-cell {
  width: 100%;
}

.carousel-cell > img {
  max-height: 100%;
  width: 100%;
}

.carousel-cell > p {
  background-color: #fafafa;
}
/* position dots up a bit */
.flickity-page-dots {
  bottom: -15px;
}

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 20px;
  margin: 0;
  border-radius: 0;
  margin-right:5px;
}